:root {
  /* Color */
  --color-white: white;
  --color-light-white: #eeececf3;
  --color-dark-white: #ffffffd0;
  --color-sky: #b5ccd4;
  --color-blue: #a4c0cc;
  --color-dark-blue: #688ba2;
  --color-light-blue: #f7f9fa;
  --color-chocolate: #e9967a;
  --color-linen: #faf0e6;
  --color-grey: #778899;
  --color-dark-grey: #6e8091;
  --color-dark-grey2: #4a4a4a;
  --color-light-grey: #8b99a7;
  --color-gold: #c18d0b;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --size-border-radius: 4px;

  --animation-duration: 250ms;

  --font-family: tahoma;
}

.mgn-0 { margin: 0; } .mgn-auto-0 { margin: auto 0; }
.mgn-5 { margin: 5px; } .mgn-t-5 { margin-top: 5px; } .mgn-b-5 { margin-bottom: 5px; } .mgn-r-5 { margin-right: 5px; } .mgn-l-5 { margin-left: 5px; }
.mgn-10 { margin: 10px; } .mgn-t-10 { margin-top: 10px; } .mgn-b-10 { margin-bottom: 10px; } .mgn-r-10 { margin-right: 10px; } .mgn-l-10 { margin-left: 10px; }
.mgn-20 { margin: 20px; } .mgn-t-20 { margin-top: 20px; } .mgn-b-20 { margin-bottom: 20px; } .mgn-r-20 { margin-right: 20px; } .mgn-l-20 { margin-left: 20px; }

.pad-0 { padding: 0; } .pad-auto-0 { padding: auto 0; }
.pad-5 { padding: 5px; } .pad-t-5 { padding-top: 5px; } .pad-b-5 { padding-bottom: 5px; } .pad-r-5 { padding-right: 5px; } .pad-l-5 { padding-left: 5px; }
.pad-10 { padding: 10px; } .pad-t-10 { padding-top: 10px; } .pad-b-10 { padding-bottom: 10px; } .pad-r-10 { padding-right: 10px; } .pad-l-10 { padding-left: 10px; }
.pad-20 { padding: 20px; } .pad-t-20 { padding-top: 20px; } .pad-b-20 { padding-bottom: 20px; } .pad-r-20 { padding-right: 20px; } .pad-l-20 { padding-left: 20px; }

.fw-regular { font-weight: 400; }
.fw-medium { font-weight: 500; }
.fw-semi-bold { font-weight: 600; }
.fw-bold { font-weight: 700; }

.f17 { font-size: 17px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }
.f28 { font-size: 28px; }
.f38 { font-size: 38px; }
.f48 { font-size: 48px; }

.flex { display: flex; }
.hide { display: none; }

.text-align-center { text-align: center; }
.text-align-left { text-align: left; }

* {
  box-sizing: border-box;
}

h1 {
  margin: 10px;
  font-size: 48px;
  font-weight: var(--fw-medium);
  color: var(--color-dark-grey2);
}

h2 {
  margin: 5px 0;
  font-size: 38px;
  font-weight: var(--fw-medium);
  color: var(--color-dark-grey2);
}

h3 {
  margin: 10px 0;
  font-size: 28px;
  font-weight: var(--fw-regular);
  color: var(--color-dark-grey2);
}

body {
  margin: 0;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: var(--font-family);
}

p, span,
.experience .about__experience .work .work-links li a {
  color: var(--color-dark-grey2);
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: var(--color-white);
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

.navbar.navbar--dark {
  background-color: var(--color-sky);
  padding: 8px;
}

.navbar .navbar__menu .navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.navbar .navbar__menu .navbar__menu__item:hover {
  background-color: var(--color-blue);
  border-color: var(--color-white);
  border-radius: var(--size-border-radius);
}
.navbar.navbar--dark .navbar__menu .navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
}

.navbar .navbar__menu .navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar .navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 13px;
  color: var(--color-white);
  display: none;
}

/* Home */
.home {
  background: url("imgs/background.jpg") center/cover no-repeat;
  padding: 40px;
  padding-top: 170px;
  transition: all var(--animation-duration) ease-in-out;
}

.home .home__photo {
  width: 240px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home .home__title,
.home .home__description {
  color: var(--color-white);
}

.home .home__contact {
  margin: 24px;
  padding: 10px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

.home .home__contact:hover {
  background-color: var(--color-sky);
}

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1200px;
  margin: auto;
}

.about .about__me {
  justify-content: space-between;
  margin: 60px 0;
}

.about .about__me .about__me__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-sky);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-chocolate);
}

.about .about__me .about__me__icon:hover i {
  color: var(--color-sky);
  transform: rotate(-20deg) scale(1.1);
  transition: all var(--animation-duration) ease;
}

.experience {
  background-color: var(--color-light-blue);
}

.experience .about__experience {
  margin: 30px auto;
  width: 70%;
}

.experience .about__experience .work .work-period {
  width: 400px;
  max-width: 400px;
  min-width: 400px;
  margin-right: 20px;
}

.experience .about__experience .work .tech-list li {
  background-color: var(--color-blue);
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
  font-weight: 500;
}

.experience .about__experience .work .work-links li a:hover {
  color: black;
}

.skills {
  background-color: var(--color-linen);
}

.skills .skillset {
  margin: 20px 0;
}

.works .work__projects .project__description span,
.contact .contact__rights {
  color: var(--color-white);
}

.skills .skillset .skillset__left {
  flex-basis: 60%;
  padding: 0 40px;
}

.skills .skillset .skillset__left .skill {
  margin-bottom: 30px;
}

.skills .skillset .skillset__left .skill .skill__description {
  display: flex;
  justify-content: space-between;
}

.skills .skillset .skillset__left .skill .skill__bar {
  width: 100%;
  height: 2px;
  background-color: var(--color-grey);
}

.skills .skillset .skillset__left .skill .skill__bar .skill__value {
  height: 3px;
  background-color: var(--color-gold);
}

.skills .skillset .skillset__right {
  flex-basis: 40%;
}

/* Work */
.works .work__categories {
  margin: 40px;
}

.works .work__categories .category__btn {
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius);
  font-size: 28px;
  position: relative;
  color: var(--color-dark-grey2);
  padding: 8px 48px;
  margin: 8px 5px;
}

.works .work__categories .category__btn:hover {
  background-color: var(--color-white);
  color: var(--color-dark-grey2);
}

.works .work__categories .category__btn.selected {
  background-color: var(--color-sky);
  color: var(--color-white);
}

.works .work__categories .category__btn.selected:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.works .work__categories .category__btn.selected .category__count,
.works .work__categories .category__btn:hover .category__count {
  opacity: 1;
  top: 5px;
}

.works .work__categories .category__btn .category__count {
  background-color: var(--color-gold);
  color: var(--color-white);
  border-radius: 50%;
  display: inline-block;
  line-height: 33px;
  width: 33px;
  height: 33px;
  position: absolute;
  top: -20px;
  right: 10px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.works .work__projects {
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.works .work__projects.animation_out {
  opacity: 0;
  transform: scale(0.9) translateY(40px);
}

.works .work__projects .project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  transition: all var(--animation-duration) ease-in-out;
}

.works .work__projects .project.project__invisible {
  display: none;
  transform: scale(0.9);
}

.works .work__projects .project__img {
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 125px;
}

.works .work__projects .project__description {
  color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}

.works .work__projects .project__description h3 {
  color: var(--color-chocolate);
}

.works .work__projects .project__description h3:after {
  content: "";
  width: 70px;
  height: 2px;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 9px;
  background-color: white;
}

.works .work__projects .project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
  background-color: var(--color-dark-grey);
}

/* Contact */
.contact {
  background-color: var(--color-sky);
  color: var(--color-white);
}

.contact .contact__title {
  margin: 32px 0;
}

.contact .contact__links {
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact .contact__links i:hover {
  transform: scale(1.1);
  color: goldenrod;
}

.arrow__up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  background-color: var(--color-linen);
  color: var(--color-sky);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
}

.arrow__up.visible {
  opacity: 1;
  pointer-events: all;
}

/* Responsive Nav Bar */
@media screen and (max-width: 768px) {
  :root {
    /* Font Size */
    --font-large: 30px;
    --font-medium: 25px;
    --font-regular: 20px;
    --font-small: 17px;
    --font-micro: 13px;
  }

  h1 {
    font-size: 30px;
  }

  h2,
  .home .home__contact {
    font-size: 24px;
  }

  .home .home__description {
    width: 250px;
    margin: 0 auto;
  }
  
  .home .home__photo {
    width: 100px !important;
    height: 120px !important;
    border-radius: 50% !important;
    border: 1px solid var(--color-white) !important;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .navbar__toggle-btn {
    display: block !important;
    top: 16px !important;
    right: 16px !important;
    font-size: var(--font-medium) !important;
  }

  .navbar .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 50px;
  }

  .about .about__me,
  .experience .work,
  .skills .skillset {
    flex-direction: column;
  }

  .about .about__me > div {
    margin-bottom: 38px;
  }

  .experience .about__experience .work .work-period {
    margin: 15px auto;
    width: auto;
    min-width: auto;
    max-width: auto;
  }
  
  .experience .about__experience .work .experience-industry {
    display: none;
  }

  .experience .about__experience .work:not(:last-child) {
    border-bottom: 1px solid var(--color-light-grey);
    padding-bottom: 20px;
  }

  .works .work__categories .category__btn {
    margin: 4px 0 !important;
    width: 100%;
    font-size: 20px;
  }

  .works .work__categories .project {
    flex-grow: 1;
  }
  
  .ellipsis {
    display: none;
  }

  .arrow__up {
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    right: 20px;
    bottom: 20px;
  }
}
